$primary-dark: #081448;        // Темный оттенок
$primary: #282157;             // Основной цвет
$primary-medium: #1A2C80;      // Средний оттенок
$primary-light: #4A478A;       // Светлый оттенок
$primary-very-light: #D9F0FF;  // Ну прям светлый оттенок
$primary-contrast: #66A7B5;

.searchBlock{
    width: fit-content;
    margin: 0 auto;
    height: 40px;
    padding: 2px;
    // background: linear-gradient(
    //     to bottom,
    //     $primary-dark,
    //     $primary-medium
    // );
    .arrow{
        margin-top: 10px;
        img{
           height: 32px;
           opacity: 25%;
        }
    }
    .searchBar{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -150%);
        transition: transform 0.3s ease;
        display: flex;
        margin: 0 auto;
        margin-top: 8px;
        border: 1px solid #d9f0ff43;
        border-radius: 15px;
        width: fit-content;
        padding-bottom: 1px;
        background: linear-gradient(
            to right,
            $primary,
            $primary-medium
        );
        input{
            color: $primary-very-light;
            margin-left: 10px;
            border: none;
            width: 20vw;
            height: 30px;
            background: transparent;
            padding: 0;
        }
        input:focus {
            outline: none;
            caret-color: $primary-very-light;
        }
        input:hover::placeholder{
            color: $primary-contrast;
        }
        input::placeholder{
            color: $primary-very-light;
            padding-left: 2px;
            transition: 0.07s ease-out;
        }
        button{
            border: none;
            background: transparent;
            border-radius: 15px;
            margin: 0;
            height: 30px;
            width: 45px;
            line-height: 25px;
            color: $primary-very-light;
            font-size: 1.6em;
        }
        button:hover{
            color: $primary-contrast;
            transition: 0.2s ease-in;
        }
    }
}
.searchBlock:hover .arrow {
    opacity: 0; /* Стрелка исчезает */
    transition: 0.5s;
}

.searchBlock:hover .searchBar,
.searchBlock:focus-within .searchBar {
    transform: translate(-50%, 0); /* Остается видимой */
}