$primary-dark: #081448;        // Темный оттенок
$primary: #282157;             // Основной цвет
$primary-medium: #1A2C80;      // Средний оттенок
$primary-light: #4A478A;       // Светлый оттенок
$primary-very-light: #D9F0FF;  // Ну прям светлый оттенок
$primary-contrast: #4BB3FD;

.searchBlock{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    height: 40px;
    padding: 2px;
    transition: opacity 0.3s ease-out;
    .arrow{
        margin-top: 10px;
        img{
           height: 32px;
           opacity: 25%;
        }
    }
    .searchBar{
        transform: translate(-50%, 0);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -300%);
        transition: transform 0.18s ease-out;
        display: flex;
        margin: 0 auto;
        margin-top: 8px;
        border: 1px solid $primary-contrast;
        border-radius: 15px;
        width: fit-content;
        padding-bottom: 1px;
        background: linear-gradient(
            to right,
            $primary,
            $primary-medium
        );
        input{
            color: $primary-very-light;
            margin-left: 10px;
            border: none;
            width: 20vw;
            height: 30px;
            background: transparent;
            padding: 0;
        }
        input:focus {
            outline: none;
            caret-color: $primary-very-light;
        }
        input:hover::placeholder{
            color: $primary-contrast;
        }
        input::placeholder{
            color: $primary-very-light;
            padding-left: 2px;
            transition: 0.07s ease-out;
        }
        button{
            border: none;
            background: transparent;
            border-radius: 15px;
            margin: 0;
            height: 30px;
            width: 45px;
            line-height: 25px;
            color: $primary-very-light;
            font-size: 1.6em;
        }
        button:hover{
            color: $primary-contrast;
            transition: 0.2s ease-in;
        }
    }
    .searchBarResult{
        border-radius: 15px 15px 0 0;
    }
    .results{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -10px);
        width: calc(20vw + 35px);
        background: linear-gradient(
            to right,
            $primary,
            $primary-medium
        );
        display: flex;
        flex-flow: column nowrap;
        border-radius: 0 0 15px 15px;
        border: 1px solid $primary-contrast;
        border-top: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.18s ease-out, transform 0.18s ease-out;
        .gameItem{
            text-decoration: none;
            color: white;
            margin: 0 auto;
            min-height: 140px;
            display: flex;
            gap: 15px;
            width: calc(100% - 40px);
            .imgBox{
                flex: 2;
            }
            .textBox{
                flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                height: 120px;
                width: 90px;
                float: left;
            }
        }
    }
}
.searchBlock:hover .arrow {
    opacity: 0; /* Стрелка исчезает */
    transition: 0.5s;
}

.searchBlock:hover .searchBar,
.searchBlock:focus-within .searchBar {
    transform: translate(-50%, 0);
}

.searchBlock:hover .results,
.searchBlock:focus-within .results {
    opacity: 1;
    transform: translate(-50%, 41px);
}